.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  visibility: visible;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/Closeicon2.svg);
}

.modal__container {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  height: 436px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__title {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  margin-bottom: 24px;
}

.modal__radio-btns {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.modal__submit-btn {
  max-width: 124px;
  height: 36px;
  opacity: 1;
  border-radius: 4px;
  gap: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk";
  font-size: 700;
  background-color: black;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 32px;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  opacity: 50%;
  margin: 12px 0;
}
