.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  visibility: visible;
}

.modal__grey-close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/closegrey.png);
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__form-container {
  background-color: white;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__title {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  margin-bottom: 24px;
}

.modal__radio-btns {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.modal__submit-btn_container {
  gap: 2px;
}

.modal__submit-btn {
  max-width: 124px;
  min-width: 86px;
  height: 36px;
  opacity: 1;
  border-radius: 4px;
  gap: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  background-color: black;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 32px;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  opacity: 50%;
  margin: 12px 0;
}

.modal__submit-btn_toggle {
  margin-left: auto;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  background: none;
  border: none;
  cursor: pointer;
  color: #00000080;
  height: 40px;
}

.modal__submit-btn_toggle:hover {
  color: black;
  opacity: 0.8;
}
