.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
}

.card__image {
  width: 100%;
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  position: relative;
}
.card__name {
  position: absolute;
  top: 15px;
  left: 111px;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
  padding: 2px 12px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
}
.card__like-btn {
  width: 18px;
  height: 15px;
  top: 20px;
  left: 194px;
  position: absolute;
  opacity: 1;

  border: none;
  background-color: transparent;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-btn_active {
  background-image: url(../public/like-Liked.png);
}

.card__like-btn_inactive {
  background-image: url(../public/like-default.png);
}
