.modal__close-btn {
  background-image: url(../../assets/closewhte.png);
  width: 20px;
  height: 20px;
  top: 24px;
  left: 454px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
}

.modal__container_preview {
  padding: 0;
}

.modal__image {
  width: 498px;
  height: 498px;
  border-radius: 16px;
  padding: 0;
  object-fit: cover;
}

.modal__container {
  width: 498px;
  height: 610px;
  border-radius: 16px;
  position: relative;
  background-color: white;
}

.modal__caption {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 36px;
  height: 24px;
  top: 624px;
  left: 503px;
}

.modal__weather {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 115px;
  height: 24px;
  white-space: nowrap;
}

.modal__footer {
  padding-bottom: 32px;
  padding-left: 32px;
}

.delete__button {
  left: 366.32px;
  position: absolute;
  opacity: 1;
  border: none;
  color: rgba(255, 77, 0, 1);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  white-space: nowrap;
}
